#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-1 .navbar-toggler {
  color: #ffffff;
}
#content5-2 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-article {
  color: #fff;
}
#msg-box4-22 .mbr-header__text {
  color: #000000;
}
#msg-box4-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-22 .mbr-article {
  color: #000000;
}
#msg-box4-22 .mbr-article P {
  text-align: left;
}
#msg-box4-22 .mbr-header__text {
  color: #000000;
}
#msg-box4-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-22 .mbr-article {
  color: #000000;
}
#msg-box4-22 .mbr-article P {
  text-align: left;
}
#msg-box4-20 .mbr-header__text {
  color: #000000;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #000000;
}
#msg-box4-20 .mbr-article P {
  text-align: left;
}
#header3-1v P {
  text-align: center;
  color: #000000;
}
#header3-1v H3 {
  text-align: center;
}
#video2-1y I {
  color: #000000;
}
#video2-i P {
  text-align: left;
}
#footer1-k P {
  color: #ffffff;
}
#content5-s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-article {
  color: #fff;
}
#header3-1m P {
  text-align: center;
}
#header3-1m H3 {
  text-align: center;
}
#dropdown-menu-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-q .nav .link,
#dropdown-menu-q .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-q .navbar,
#dropdown-menu-q .dropdown-menu {
  background: #000000;
}
#dropdown-menu-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-q .dropdown-menu a:hover,
#dropdown-menu-q .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-q .navbar-toggler {
  color: #ffffff;
}
#footer1-r P {
  color: #ffffff;
}
#dropdown-menu-l .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-l .nav .link,
#dropdown-menu-l .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-l .navbar,
#dropdown-menu-l .dropdown-menu {
  background: #000000;
}
#dropdown-menu-l .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-l .dropdown-menu a:hover,
#dropdown-menu-l .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-l .navbar-toggler {
  color: #ffffff;
}
#content5-n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-article {
  color: #fff;
}
#header3-1l P {
  text-align: center;
}
#header3-1l H3 {
  text-align: center;
}
#footer1-m P {
  color: #ffffff;
}
#dropdown-menu-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w .nav .link,
#dropdown-menu-w .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-w .navbar,
#dropdown-menu-w .dropdown-menu {
  background: #000000;
}
#dropdown-menu-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w .dropdown-menu a:hover,
#dropdown-menu-w .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-w .navbar-toggler {
  color: #ffffff;
}
#content5-y .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-y .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-y .mbr-article {
  color: #fff;
}
#header3-z P {
  text-align: center;
}
#header3-z H3 {
  text-align: center;
}
#header4-19 .btn {
  font-size: 14px;
}
#footer1-x P {
  color: #ffffff;
}
